body {
    background-image: url('/Content/fondoImagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'DM Sans', sans-serif;
}

.jumbotron {
    background-color: rgba(8, 53, 149, 0.7); /* Agrega un fondo blanco semi-transparente al jumbotron */
    padding: 20px;
}

.card-reserva {
    /*background-color: #083595;*/
    background-color: rgba(8, 53, 149, 0.7);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    color: #ffffff;
}


