body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #17253f;
}

.navbar-nav a {
    color: #fff;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
    background-color: #fff;
}

.hidden {
    display: none
}

#espera_contenedor {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 1059;
    position: absolute;
    top: 0;
    left: 0;
}



#espera_spin {
    align-content: center;
}

#fullscreenDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}



    #fullscreenDiv.show {
        display: flex;
    }



#centerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    width: 70px; /* Ajusta según sea necesario */
    height: 70px; /* Ajusta según sea necesario */
    object-fit: cover;
    border-radius: 70%;
    border: 2px solid #fff;
}

.perfil-img {
    width: 150px; /* Ajusta según sea necesario */
    height: 150px; /* Ajusta según sea necesario */
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff; /* Ajusta según sea necesario */
}

.ultimos-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20%;
    border: 2px solid #fff;
}


.carousel-indicators button.thumbnail {
    max-width: 70%;
}

    .carousel-indicators button.thumbnail:not(.active) {
        opacity: 0.7;
    }

.carousel-indicators {
    position: static;
}

.carousel-index {
    max-width: 70%;
    margin: 0 auto;
    max-height: 300px;
    position: relative;
}

    .carousel-index img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 10%;
        display: block;
        transition: all 0.2s ease;
    }

    .carousel-index:hover img {
        opacity: 0.2;
    }

    .carousel-index:hover .overlay {
        opacity: 1;
    }

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Oswald", sans-serif;
}

    .overlay p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
        font-family: "Oswald", sans-serif;
        color: #17253f;
    }

    .overlay .iconos-contenedor {
        /*display: flex;*/
        text-align: center;
    }

    .overlay i {
        color: white;
        font-size: 35px;
        margin: 10px;
        color: #17253f;
    }

.thumb-group {
    max-height: 300px;
    overflow-y: auto;
}

    .thumb-group li {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #17253f;
    }

        .thumb-group li img {
            height: 80px;
            width: 80px;
        }

#padelTable {
    background-color: #E2DEDE; /* Fondo oscuro de la tabla */
    color: #404040; /* Color del texto de la tabla */
    font-size: 1.3rem;
}

    #padelTable th, #padelTable td {
        border-color: #fff; /* Color del borde de la tabla */
        background-color: #fff; /* Fondo oscuro de la tabla */
        color: #404040; /* Color del texto de la tabla */
    }

.card {
    background-color: #17253f;
    color: #fff;
    border: none;
}

.card-header {
    border-bottom: 1px solid #fff; /* Borde blanco en la parte inferior del card-header */
}

.card-body {
    padding: 1.25rem; /* Añade un padding para separación interna entre el card-header y el card-body */
}

.navbar-toggler {
    color: #fff;
}

.seccion-oscura {
    background-color: #1d3056;
}

.seccion-clara {
    background-color: #E2DEDE;
}

.seccion-logos {
    padding: 20px 0;
    margin-top: 20px;
}

    .seccion-logos img {
        max-width: 100px; /* Ajusta el tamaño de los logos según tus necesidades */
        /*border-radius: 30%;*/
    }

footer {
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 0;
}
