@{
    ViewBag.Title = "Padel APP";
}

<div class="jumbotron row d-flex justify-content-between align-items-center">
    <h1 class="display-4 text-center">LAS MARIAS PADEL</h1>

    <div class="card col-md-4 m-2">
        <div class="card-header text-center">
            <h5>Reserva tu cancha</h5>
        </div>
        <div class="card-body row align-items-center">
            <div class="col-md-12">
                <p class="lead text-center">Reserva tus horarios y disfruta de nuestros servicios.</p>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <div>
                    <a class="btn btn-success" href="@Url.Action("Reserva", "Home")"><i class="material-icons">Reservar</i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-4 m-2">
        <div class="card-header text-center">
            <h5>Crea tu partido</h5>
        </div>
        <div class="card-body">
            <div class="col-md-12 text-center">
                <p class="lead text-center">Reserva tu cancha y ¡arma tu partido! 🎾 Si faltan jugadores, otros podrán unirse a tu reserva para disfrutar juntos del juego. 🤝</p>
            </div>
            <div class="d-flex justify-content-between">
                <a class="btn btn-success" ><i class="bi bi-calendar-plus">Unirse</i></a>
                <a class="btn btn-success" href="@Url.Action("CrearPartido", "Home")"><i class="bi bi-calendar-plus">Crear</i></a>
            </div>
        </div>
    </div>
</div>