
@{
    ViewBag.Title = "Ranking";
}
<style>
    #padelTable{
        background-color: #3498db;
        color: #ffff;
    }
</style>

<div class="table-responsive">
    <table id="padelTable" class="display responsive">
        <thead>
            <tr>
                <th class="text-center">POSICION</th>
                <th class="text-center">JUGADOR</th>
                <th class="text-center">PUNTOS</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        const padelTable = $('#padelTable').DataTable({
            responsive: true,
        });

        $.ajax({
            url: "@Url.Action("GetRanking", "Usuario")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                padelTable.clear();

                $.each(data, function (index, jugador) {
                    const rowData = [
                        `<div class='text-center text-white'>${jugador.Posicion}</div>`,
                        `<div class='text-center text-white d-flex'><img src='${jugador.FotoPerfil}' alt='Imagen Jugador ${jugador.Usuario}' class='ultimos-img mx-auto'></div>` + `<div class="text-center"> ${jugador.Usuario} </div>`,
                        `<div class='text-center text-white'>${jugador.Puntuacion}</div>`
                    ];
                    padelTable.row.add(rowData);
                });
                padelTable.draw();
            }
        });
    });
</script>
