
@{
    ViewBag.Title = "Ranking";
}

<div class="container mt-4">
    <div class="table-responsive">
        <table id="padelTable" class="table table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Posición</th>
                    <th class="text-center">Nombre del Jugador</th>
                    <th class="text-center">Puntos</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        const padelTable = $('#padelTable').DataTable({
            responsive: true,
        });

        $.ajax({
            url: "@Url.Action("GetRanking", "Usuario")",
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                padelTable.clear();

                $.each(data, function (index, jugador) {
                    const rowData = [
                        `<div class='text-center'>${jugador.Posicion}</div>`,
                        `<div class='text-center d-flex justify-content-center align-items-center'>
                        <img src='${jugador.FotoPerfil}' alt='Imagen Jugador ${jugador.Usuario}' class='ultimos-img me-5'>
                        <div>${jugador.Usuario}</div>
                        </div>`,
                        `<div class='text-center'>${jugador.Puntuacion}</div>`
                    ];
                    padelTable.row.add(rowData);
                });
                padelTable.draw();
            }
        });
    });
</script>
