
@{
    ViewBag.Title = "TurnosReservados";
}

<div class="row">
    <div class="card col-md-12 m-2">
        <div class="card-header text-center row d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <h5>Ver turnos reservados</h5>
            </div>

            <div class="form-group col-md-2">
                <label for="fecha">Fecha Desde:</label>
                <input type="text" class="form-control" id="fechaDesde" name="fechaDesde" readonly data-id="1">
            </div>

            <div class="form-group col-md-2">
                <label for="fecha">Fecha Hasta:</label>
                <input type="text" class="form-control" id="fechaHasta" name="fechaHasta" readonly data-id="1">
            </div>

            <div class="col-md-6">
                <button class="btn btn-sm btn-primary">Consultar</button>
            </div>
        </div>
        <div class="card-body row align-items-center">
            <div class="table-responsive col-md-8">
                <table class="table table-vcenter">
                    <thead>
                        <tr>
                            <th>Cancha Nro</th>
                            <th>Horario Desde</th>
                            <th>Horario Hasta</th>
                            <th>Usuario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4 row d-flex">
                <div class="input-group m-1">
                <label>Precio cancha</label> 
                    <input type="number"  class="form-control" id="precioCancha"/>
                </div>
                <div class="input-group">
                    <p>Recaudado</p>
                    <p id="recaudacionDia"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let usuId = 0;
    let precioCancha = document.getElementById('precioCancha');
    const recaudacionDia = document.getElementById('recaudacionDia');
    let datos;
    $(document).ready(function () {

        $('#fechaDesde').datepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            autoclose: true,
            startDate: new Date(), // Establece la fecha mínima como la fecha actual
            todayHighlight: true // Resalta la fecha actual
        });
        $('#fechaHasta').datepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            autoclose: true,
            startDate: new Date(), // Establece la fecha mínima como la fecha actual
            todayHighlight: true // Resalta la fecha actual
        });

        $.ajax({
            url: '@Url.Action("GetReservas", "Reservas")',
            type: 'GET',
            data: {},
            success: function (data) {
                llenarTabla(data);
                datos = data;
            },
            error: function (error) {
                console.error('Error al obtener horarios:', error);
            }
        });

    });

    const formatearFecha = (fecha) => {
        const match = fecha.match(/\d+/);
        const milisegundos = match ? parseInt(match[0], 10) : 0;
        const fechaSeleccionada = new Date(milisegundos);

        let dia = fechaSeleccionada.getDate();
        let mes = fechaSeleccionada.getMonth() + 1;
        let anio = fechaSeleccionada.getFullYear();
        let hora = fechaSeleccionada.getHours();
        let minutos = fechaSeleccionada.getMinutes();

        if (mes < 10) {
            mes = "0" + mes;
        }

        return fechaFormateada = dia + '/' + mes + '/' + anio + " " + hora + ":" + minutos;
    }

    const llenarTabla = (data) => {
        console.log(data);
        const tbody = document.querySelector('.table tbody');
        tbody.innerHTML = '';

        data.forEach((item) => {
            const row = document.createElement('tr');

            const columnas = [
                item.CanchaNumero,
                formatearFecha(item.HorarioDesde),
                formatearFecha(item.HorarioHasta),
                item.UsuarioNombre,
                "<button class='btn btn-sm btn-danger m-1'>Dar de Baja</button>" +
                "<button class='btn btn-sm btn-success'>Enviar Mensaje</button>"
            ];

            columnas.forEach((columna) => {
                const cell = document.createElement('td');
                cell.innerHTML = columna;  // Utiliza innerHTML para interpretar el HTML
                row.appendChild(cell);
            });

            tbody.appendChild(row);
        });
    }
    
</script>
