
@{
    ViewBag.Title = "Crear";
}

<div class="card">
    <div class="card-header">
        Crea tu partido
    </div>
    <div class="card-body">
        <div class="col-md-6 col-sm-12 col-12 d-flex justify-content-center align-items-center">
            <div class="p-1">
                <div class="card-title text-center">
                    CANCHA 1
                </div>
                <div class="form-group">
                    <label for="fecha">Selecciona una fecha:</label>
                    <input type="text" class="form-control" id="fecha" name="fecha">
                </div>


                <label for="duracion">Duración de la reserva:</label>
                <label class="form-check">
                    <input class="form-check-input duracionCheckbox" type="radio" name="radios" id="duracion60" value="60">
                    <span class="form-check-label">60 Minutos</span>
                </label>

                <label class="form-check">
                    <input class="form-check-input duracionCheckbox" type="radio" name="radios" id="duracion90" value="90">
                    <span class="form-check-label">90 Minutos</span>
                </label>

                <div class="form-group">
                    <label for="horario">Selecciona un horario:</label>
                    <select class="form-control" id="horario" name="horario"></select>
                </div>

                <div class="form-group d-flex justify-content-center row">
                    <label for="jugadoresRestantes">Cantidad de jugadores restantes:</label>
                    <label class="form-check col-md-3 col-3">
                        <input class="form-check-input" type="radio" name="jugadoresRestantes" value="1">
                        <span class="form-check-label">1</span>
                    </label>
                    <label class="form-check col-md-3 col-3">
                        <input class="form-check-input" type="radio" name="jugadoresRestantes" value="2">
                        <span class="form-check-label">2</span>
                    </label>
                    <label class="form-check col-md-3 col-3">
                        <input class="form-check-input" type="radio" name="jugadoresRestantes" value="3">
                        <span class="form-check-label">3</span>
                    </label>
                </div>

                <div class="d-flex justify-content-center m-2">
                    <button class="btn btn-success" onclick="CrearPartido(1)">Crear</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let datosDeHorario;
    const fecha = document.getElementById("fecha");
    let duracion = 0;
    let jugadoresRestantes;
    let cantidadJugadores;

    $(document).ready(function () {
        $('#fecha').datepicker({
            format: 'dd/mm/yyyy',
            language: 'es',
            autoclose: true,
            startDate: new Date(),
            todayHighlight: true
        });
    });


    $('#fecha').on('changeDate', function (e) {
        $('.duracionCheckbox:checked').prop('checked', false);
        $('#horario').empty();


        $('.duracionCheckbox').on('change', function () {
        $("#horario").empty();
            duracion = parseInt($('.duracionCheckbox:checked').val());
            const horaInicio = 8;
            const horaFin = 24;
            enEspera()

            for (let hora = horaInicio; hora < horaFin; hora++) {
                for (let minuto = 0; minuto < 60; minuto += duracion) {
                    let horaFormato = ('0' + hora).slice(-2);
                    let minutoFormato = ('0' + minuto).slice(-2);
                    let tiempo = horaFormato + ':' + minutoFormato;
                    $('#horario').append('<option class="text-light bg-success" value="' + tiempo + '">' + tiempo + '</option>');

                    if (duracion === 90) {
                        minuto += 30;
                        minutoFormato = ('0' + minuto).slice(-2);
                        tiempo = horaFormato + ':' + minutoFormato;
                        $('#horario').append('<option class="text-light bg-success" value="' + tiempo + '">' + tiempo + '</option>');
                    }
                }
            }
            console.log(datosDeHorario);
                $.ajax({
                    url: '@Url.Action("Load", "Horario")',
                    type: 'GET',
                    data: {
                        idCancha: 1,
                        fechaSeleccionada: fecha.value
                    },

                    success: function (data) {
                        console.log(data);
                        datosDeHorario = data;
                        deshabilitarHorarios(datosDeHorario);
                        enEspera("chau");
                    },

                    error: function (error) {
                        console.error('Error al obtener horarios:', error);
                    }
                });
            //if (datosDeHorario != null && datosDeHorario.length > 0) {
            //    deshabilitarHorarios(datosDeHorario);
            //}
        });
    });

    function deshabilitarHorarios(datosDeHorario) {
        let horarioNoDisponible;

        datosDeHorario.forEach(function (horario) {
            if (horario.HorarioDesde && horario.HorarioHasta) {
                const fechaMilisegundos = parseInt(horario.HorarioDesde.substr(6));
                const fechaDesde = moment(fechaMilisegundos).tz('America/Chicago');

                // Obtener las horas y minutos en formato deseado en la zona horaria 'America/Chicago'
                const horaYMinutos = fechaDesde.format('hh:mm A');
                console.log("Esto es de la configuración: " + horaYMinutos);

                // Obtener las horas y minutos en formato de 24 horas en la zona horaria 'America/Chicago'
                const valorHorarioDesde = fechaDesde.format('HH:mm');
                console.log("Esto es en formato de 24 horas: " + valorHorarioDesde);

                horarioNoDisponible = $('#horario option[value="' + valorHorarioDesde + '"]')[0];
                $(horarioNoDisponible).prop('disabled', true);
                $(horarioNoDisponible).removeClass('text-light bg-success').addClass('text-light bg-danger');

                // Deshabilitar los dos horarios anteriores y el primer posterior si la duración es de 90 minutos
                console.log(horario.Duracion);
                if (horario.Duracion == 90 && duracion == 90) {
                    const indice = $('#horario option').index(horarioNoDisponible);

                    for (let i = indice - 1; i >= indice - 2 && i >= 0; i--) {
                        $('#horario option').eq(i).prop('disabled', true)
                            .removeClass('text-light bg-success').addClass('text-light bg-danger');
                    }

                    for (let i = indice + 1; i <= indice + 2 && i < $('#horario option').length; i++) {
                        $('#horario option').eq(i).prop('disabled', true)
                            .removeClass('text-light bg-success').addClass('text-light bg-danger');
                    }
                } else {
                    const indice = $('#horario option').index(horarioNoDisponible);

                    $(horarioNoDisponible).prop('disabled', true);
                    $(horarioNoDisponible).removeClass('text-light bg-success').addClass('text-light bg-danger');

                    $('#horario option').eq(indice + 1).prop('disabled', true)
                        .removeClass('text-light bg-success').addClass('text-light bg-danger');
                }

            } else {
                console.error('El horario no es una cadena o un objeto válido:', horario);
            }
        });
    }

    jugadoresRestantes = document.querySelectorAll('input[name="jugadoresRestantes"]');

    jugadoresRestantes.forEach(function (radio) {
        radio.addEventListener('change', function () {
            cantidadJugadores = this.value;
            console.log(cantidadJugadores);
        });
    });

    function CrearPartido(idCancha) {
        enEspera();
        const horarioDeReserva = $('#horario').val();


        $.ajax({
            url: '@Url.Action("CrearPartido", "Reservas")',
            type: 'POST',
            data: {
                idUsuario: usuarioId,
                idCancha: 1,
                fechaSeleccionada: fecha.value,
                horarioDeReserva: horarioDeReserva,
                duracion: duracion,
                jugadoresRestantes: cantidadJugadores
            },
            success: function (data) {
                enEspera("chau");
                if (data > 0) {
                    Swal.fire({
                        title: "Partido Creado!",
                        text: "Tu partido fue creado con exito!",
                        icon: "success",
                        showConfirmButton: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location = "@Url.Action("Ver", "Partido")?idPartido=" + data;
;
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Error en la creacion!",
                        text: "No se pudo completar la creacion con exito!",
                        icon: "error"
                    });
                }
            },
            error: function (error) {
                console.error('Error al obtener horarios:', error);
            }
        });
    }

</script>
