
@{
    ViewBag.Title = "Disponibles";
}

<div class="card">
    <div class="card-header">
        Partidos disponibles para unirse
    </div>

    <div class="card-body">
        <div class="container">
            <h2>Partidos Disponibles</h2>
            <div id="partidos-container" class="row"></div>
        </div>
    </div>

</div>

<script>
    let partidosDisponibles;

    $(document).ready(function () {
           $.ajax({
               url: '@Url.Action("GetDetallesPartidos", "Partido")',
               type: 'GET',
               data: {},
               success: function (data) {
                   partidosDisponibles = data;
                   console.log(partidosDisponibles);
               },
               error: function (error) {
                   console.error('Error al obtener horarios:', error);
               }
           });
    });

    const partidosContainer = document.getElementById('partidos-container');

    // Función para crear una tarjeta
    function crearTarjeta(partido) {
        const card = document.createElement('div');
        card.classList.add('card', 'col-md-4');

        card.innerHTML = `
      <div class="card-body">
        <h5 class="card-title">Horario: ${partido.HorarioDesde} - ${partido.HorarioHasta}</h5>
        <p class="card-text">Jugadores: ${partido.CantidadDeJugadores}</p>
        <p class="card-text">Organizador: ${partido.UsuarioNombre}</p>
        <a href="#" class="btn btn-primary">Unirme al Partido</a>
      </div>
    `;

        return card;
    }

    setTimeout(() => {
        partidosDisponibles.forEach(partido => {
            const card = crearTarjeta(partido);
            partidosContainer.appendChild(card);
        });
    }, 1000);

</script>

