
@{
    ViewBag.Title = "Disponibles";
}
<div class="container seccion-clara">
    <div class="row d-flex">
        <div class="col-12 border-left-primary shadow col-md-12 d-flex justify-content-center p-5">
            <h2 class="text-center">Partidos disponibles para unirse</h2>
        </div>
            <div id="partidos-container" class="row d-flex justify-content-center">

            </div>
    </div>
</div>

<script>
    let partidosDisponibles;
    const partidosContainer = document.getElementById('partidos-container');


    $(document).ready(function () {
                   enEspera();
           $.ajax({
               url: '@Url.Action("GetDetallesPartidos", "Partido")',
               type: 'GET',
               data: {},
               success: function (data) {
                   partidosDisponibles = data;
                   console.log(partidosDisponibles);
                   partidosDisponibles.forEach(partido => {
                       const card = crearTarjeta(partido);
                       partidosContainer.appendChild(card);
                   });
                   enEspera("chau");
               },
               error: function (error) {
                   console.error('Error al obtener horarios:', error);
               }
           });
    });


    // Función para crear una tarjeta
    function crearTarjeta(partido) {
        const card = document.createElement('div');
        card.classList.add('card', 'col-md-5', 'col-5', 'col-xl-4', 'm-2');

        const fechaPartido = formatearFecha(partido.HorarioDesde);
        const fechaDesde = formatearHora(partido.HorarioDesde);
        const fechaHasta = formatearHora(partido.HorarioHasta);

        card.innerHTML = `
      <div class="card-body row d-flex justify-content-center">
        <h3 class="card-title text-center col-md-12">Fecha: ${fechaPartido}</h3>
        <h5 class="card-title text-center col-md-12">Horario: ${fechaDesde} - ${fechaHasta}</h5>
        <p class="card-text text-center col-md-6">Jugadores: ${partido.CantidadJugadores}</p>
        <p class="card-text text-center col-md-6">Organizador: ${partido.UsuarioOrganizador}</p>
        <a href="@Url.Action("Ver", "Partido")?idPartido=${partido.Id}" class="btn btn-primary col-md-6">Unirme al Partido</a>
      </div>
    `;

        return card;
    }

    function formatearFecha(fechaString) {
        var fecha = new Date(parseInt(fechaString.substr(6)));
        var opciones = { year: 'numeric', month: '2-digit', day: '2-digit'};
        return fecha.toLocaleString('es-ES', opciones);
    }

    function formatearHora(fechaString) {
        const fechaMilisegundos = parseInt(fechaString.substr(6));
        const fechaDesde = moment(fechaMilisegundos).tz('America/Chicago');
        const horaYMinutos = fechaDesde.format('HH:mm');
        console.log("Esto es de la configuración: " + horaYMinutos);

        return horaYMinutos;
    }

</script>

