
@{
    ViewBag.Title = "Disponibles";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-center">Partidos disponibles para unirse</h2>
    </div>

    <div class="card-body">
        <div class="container">
            <div id="partidos-container" class="row justify-content-center"></div>
        </div>
    </div>

</div>

<script>
    let partidosDisponibles;

    $(document).ready(function () {
                   enEspera();
           $.ajax({
               url: '@Url.Action("GetDetallesPartidos", "Partido")',
               type: 'GET',
               data: {},
               success: function (data) {
                   partidosDisponibles = data;
                   console.log(partidosDisponibles);
                   partidosDisponibles.forEach(partido => {
                       const card = crearTarjeta(partido);
                       partidosContainer.appendChild(card);
                   });
                   enEspera("chau");
               },
               error: function (error) {
                   console.error('Error al obtener horarios:', error);
               }
           });
    });

    const partidosContainer = document.getElementById('partidos-container');

    // Función para crear una tarjeta
    function crearTarjeta(partido) {
        const card = document.createElement('div');
        card.classList.add('card', 'col-md-12', 'col-12' ,'m-2',);

        const fechaPartido = formatearFecha(partido.HorarioDesde);
        const fechaDesde = formatearHora(partido.HorarioDesde);
        const fechaHasta = formatearHora(partido.HorarioHasta);

        card.innerHTML = `
      <div class="card-body">
        <h5 class="card-title text-center">Fecha: ${fechaPartido}</h5>
        <h7 class="card-title text-center">Horario: ${fechaDesde} - ${fechaHasta}</h7>
        <p class="card-text">Jugadores: ${partido.CantidadJugadores}</p>
        <p class="card-text">Organizador: ${partido.UsuarioOrganizador}</p>
        <a href="@Url.Action("Ver", "Partido")?idPartido=${partido.Id}" class="btn btn-primary">Unirme al Partido</a>
      </div>
    `;

        return card;
    }

    function formatearFecha(fechaString) {
        var fecha = new Date(parseInt(fechaString.substr(6)));
        var opciones = { year: 'numeric', month: '2-digit', day: '2-digit'};
        return fecha.toLocaleString('es-ES', opciones);
    }

    function formatearHora(fechaString) {
        const fechaMilisegundos = parseInt(fechaString.substr(6));
        const fechaDesde = moment(fechaMilisegundos).tz('America/Chicago');
        const horaYMinutos = fechaDesde.format('HH:mm');
        console.log("Esto es de la configuración: " + horaYMinutos);

        return horaYMinutos;
    }

</script>

