
@{
    ViewBag.Title = "InicioSesion";
}

<div class="card row m-2">
    <div class="card-header m-2">
        <div class="text-center h4">
            <i class="fa fa-tennis-ball text-white"></i> INICIAR SESION <i class="fa fa-tennis-ball text-white"></i>
        </div>
    </div>
    <div class="card-body row d-flex justify-content-center align-items-center">

        <div class="col-md-5 g-3 d-flex justify-content-center">
            <div class="col-auto input-group">
                <span class="input-group-text">
                    <i class="bi bi-person"></i>
                </span>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" placeholder="Nombre de usuario">
            </div>
           
        </div>

        <div class="col-md-5 g-3 d-flex justify-content-center align-items-center">
            <div class="col-auto input-group">
                <input type="password" id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="mostrarContrasena">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-7 g-3 d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-success" id="inicioSesion">Iniciar Sesion</button>
        </div>

        <div class="col-md-7 g-3 d-flex justify-content-center align-items-center p-2">
            <p>¿No tienes cuenta? <a href="@Url.Action("Registro", "Usuario")" class="btn btn-warning">Regístrate</a></p>
        </div>
    </div>

    <script>
        const inicioSesion = document.getElementById('inicioSesion');
        const usuarioNombre = document.getElementById('nombreUsuario');
        const contrasena = document.getElementById('contrasena');

        inicioSesion.addEventListener('click', () => {
            enEspera();
            if (usuarioNombre.value.length == 0) {
                Swal.fire({
                    title: "Error",
                    text: "El nombre de usuario no puede estar vacio!",
                    icon: "error",
                    showConfirmButton: true
                });
            }

            if (contrasena.value.length == 0) {
                Swal.fire({
                    title: "Error",
                    text: "La contraseña no puede estar vacia!",
                    icon: "error",
                    showConfirmButton: true
                });
            }

            if (usuarioNombre.value.length > 0 && contrasena.value.length > 0) {
                console.log(usuarioNombre.value + "" + contrasena.value);
                $.ajax({
                    url: "@Url.Action("LogIn", "Usuario")",
                    type: "GET",
                    data: {
                        usuarioNombre: usuarioNombre.value.toString(),
                        contrasena: contrasena.value.toString()
                    },
                    success: function (response) {
                        console.log(response);
                        enEspera("chau");
                        if (response != null) {
                            Swal.fire({
                                title: "Bienvenido " + response.Nombre,
                                text: "Iniciaste sesion correctamente!",
                                icon: "success",
                                showConfirmButton: true
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location = "@Url.Action("Index", "Home")";
                                }
                            });
                        }
                        else
                        {
                            Swal.fire({
                                title: "Error",
                                text: "Datos incorrectos, por favor vuelva a verificarlos!",
                                icon: "error",
                                showConfirmButton: true
                            }).then((result) => {
                                contrasena.value = "";
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire({
                            title: "Error",
                            text: "Datos incorrectos, por favor vuelva a verificarlos!",
                            icon: "error",
                            showConfirmButton: true
                        }).then((result) => {
                            contrasena.value = "";
                        });
                    }
                });
            }
        });
    </script>

</div>
